pre {
    background-color: #FDF6E3
}

.sourceCode .kw { color: #268BD2; }
.sourceCode .dt { color: #268BD2; }
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
.sourceCode .ch { color: #DC322F; }
.sourceCode .st { color: #2AA198; }
.sourceCode .co { color: #93A1A1; }
.sourceCode .ot { color: #A57800; }
.sourceCode .al { color: #CB4B16; font-weight: bold; }
.sourceCode .fu { color: #268BD2; }
.sourceCode .re { }
.sourceCode .er { color: #D30102; font-weight: bold; }

html {
    background-color: #fefefe;
}

code {
    font-family: monospace;
}

body {
    color: #111111;
    margin: 2em auto;
    padding: 1em;
    font-family: sans-serif;
    line-height: 1.7em;
    max-width: 800px;
}

footer {
    font-size: 0.7em;
    line-height: 1.5em;
}

h2 {
    font-size: 1.2em;
}

h1 {
    font-size: 1.6em;
}

a {
    color: #0074d9; /* clrs.cc blue */
}

a:visited {
    color: #85144b; /* clrs.cc maroon */
}
